<head>
    <title>登陆</title>

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script>

    </script>


    <style>
        div{
            padding:10px 10px 0 10px;
        }
    </style>
</head>
<html>
<body>
<h2>欢迎登陆!</h2>

<form action="/user/login" method="post">
    <div>
        <input type="text" id="userName" name="userName" value="admin">
    </div>
    <div>
        <input type="password" id="password" name="password" value="admin">
    </div>
    <div>
        <input type="submit"  value="确认">
    </div>

</form>


</body>
</html>
